# Django settings
DEBUG=True
SECRET_KEY=EqTqNkCYeA-Ahs0kIaAxqEre73gGwlbdrYaUQbMYMDwQ0cI8AbzTFm7GMHlxIWZC7l0

# Database settings
DB_NAME=spa_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis settings
REDIS_PASSWORD=redis_secret_password
REDIS_USER=app_user
REDIS_USER_PASSWORD=dev_redis_user_secret_456
REDIS_URL=redis://:redis_secret_password@redis:6379/0
