# Django settings
DEBUG=True
SECRET_KEY=EqTqNkCYeA-Ahs0kIaAxqEre73gGwlbdrYaUQbMYMDwQ0cI8AbzTFm7GMHlxIWZC7l0

# Database settings
DB_NAME=spa_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
