annotated-types==0.8.0
anyio==4.14.2
asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
bleach==6.4.0
cbor2==6.1.4
cffi==2.1.1
cfgv==3.5.0
channels==4.3.2
channels_redis==4.3.0
click==8.5.0
constantly==23.10.4
contextlib2==21.6.0
cryptography==50.0.1
daphne==4.2.3
defusedxml==0.7.1
distlib==0.4.3
Django==6.1
django-cors-headers==4.9.0
django-environ==0.14.0
django-ninja==1.7.0
django-ninja-extra==0.31.7
django-ninja-jwt==5.4.5
django-redis==7.0.0
dnspython==2.8.0
email-validator==2.3.0
filelock==3.32.4
git-filter-repo==2.47.0
gunicorn==26.2.0
h11==0.16.0
httptools==0.8.0
hyperlink==21.0.0
identify==2.6.19
idna==3.19
Incremental==24.11.0
injector==0.24.0
msgpack==1.2.2
nodeenv==1.10.0
packaging==26.3
pillow==12.3.0
platformdirs==4.11.5
pre_commit==4.6.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
PyJWT==2.13.0
pyOpenSSL==26.4.0
python-discovery==1.6.0
python-dotenv==1.2.3
PyYAML==6.0.3
redis==8.1.0
service-identity==26.1.0
sqlparse==0.6.0
Twisted==26.4.0
txaio==26.6.1
typing-inspection==0.4.4
typing_extensions==4.16.0
ujson==5.13.0
uvicorn==0.52.4
uvloop==0.22.1
virtualenv==21.7.7
watchfiles==1.2.0
webencodings==0.6.1
websockets==17.1
zope.interface==8.6
